<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>For now, hopefully you won't need much help, but if you do, try visiting <a href="https://www.railstutorial.org">Rails Tutorial.org</a></p>
